<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>custom</title>
</head>
<body>
	<div class="page">
		<% include components/top.inc.ejs %>
		<div class="content-wrap">
			<div>
	          	<form action="?" method="post" enctype="multipart/form-data">
		            标题：<input type="text" name="title" /><br>
		            描述：<textarea name="description"></textarea><br>
		            头像：<input type="file" name="f1" /><br>
		            <input type="submit" value="添加"/>
	          	</form>
			</div>
		</div>
		<div class="table">
			<table border="1" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>标题</th>
						<th>描述</th>
						<th>头像</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0;i<evaluation.length;i++) { %>
						<tr>
							<td><%=evaluation[i].ID%></td>
							<td><%=evaluation[i].title%></td>
							<td><%=evaluation[i].description%></td>
							<td><img width="40" height="40" src="/upload/<%= evaluation[i].src%>" alt="" /></td>
							<td>
								<a href="?act=mod&id=<%=evaluation[i].ID%>">修改</a>
								<a href="?act=del&id=<%=evaluation[i].ID%>" onclick="return confirm('你真的要删除吗？')">删除</a>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
 		<% if(typeof mod_data!='undefined') {%>
			<form action="?" enctype="multipart/form-data" method="post">
				<input type="hidden" name="mod_id" value="<%= mod_data.ID%> /">
	            标题：<input type="text" name="title"  value="<%= mod_data.title%>"/><br>
	            描述：<textarea name="description"> <%= mod_data.description%></textarea><br>
	            头像：<input type="file" name="f1"  value="<%= mod_data.src%>"/><br>
	            <input type="submit" value="添加"/>
	            <a href="/admin/custom">取消修改</a>
			</form>
		<% } %> 
	</div>
</body>
</html>